<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>Staff Directory</header>

        <ol>
            <ul>
                <li>Name: {{staff_mem.name}}</li>
                <li>Age: {{staff_mem.age}}</li>
                <li>Password: {{staff_mem.password}}</li>
                <li>Role: {{staff_mem.role}}</li>
                <li>Employee Id: {{staff_mem.employee_id}}</li>
            </ul>
        </ol>

    </body>
</html>